body {
  width: 850px;
  margin: auto;
  background: #3B3942;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
  color: white;
}

/* site main content category */
main {
  overflow: auto;
  padding: 15px 0 15px 0;
  text-align: center;
}

button {
  padding: 2px;
  margin-left: 5px;
  border-radius: 0;
  border: 1px solid #dedede;
  cursor: pointer;
}

/* site footer */
footer {
	width: 850px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #dedede;
}

a {
	text-decoration: none;
	margin-right: 10px;
	color: white;
}

a.align-right {
	float: right;
}

section.search-form {
	padding: 2px;
	padding-bottom: 10px;
  	margin-left: 5px;
  	border-radius: 0;
	border-bottom: 1px solid #dedede;
}

#autocomplete {
	width: 400px;
}