body {
	min-width: 436px;
	max-width: 1800px;
	margin: auto;
	color: #404040;
	background: rgb(230, 230, 230);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	font-size: 17px;
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	margin: 0;
}

h1{
    margin: 15px 0 ;
}

header{
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(217, 217, 217) 0px 1px 0px 0px;
	box-sizing: border-box;
	color: rgb(117, 117, 117);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 57px;
	position: relative;
	width: 99vw;
	left: 0;
	right: 0;
}

.content{
	position: relative;
	margin: 0 auto;
	padding: 20px;

	background: white;
	border-radius: 3px
}

/* site main content category */
main {
  text-align: center;
}

.footer-nav {
	padding-top: 5px;
	color: rgb(117, 117, 117);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 20px 15px;

}

/* site footer */
footer {
	max-width: 1800px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	padding-bottom: 15px;
}

a {
	color: rgb(117, 117, 117);;
	text-decoration: none;
	margin-right: 10px;
}

a:visited {
	color: rgb(117, 117, 117);
	text-decoration: none;
}

a.align-right {
	float: right;
}

section.search-form {
	padding: 2px;
	padding-bottom: 100px;
  	margin-left: 5px;
  	border-radius: 0;
}

#autocomplete {
	width: 400px;
}

input[type="date"] {
	border: none;
}

#search-results {
	width: 99vw;
}

/*Begin grid cell configuration*/
#search-results .div-img {
    /* Just in case there are inline attributes */
	display: inline-block;
	margin: 5px 0px 0px 0px;
    position: relative;
    cursor: pointer;
    height: 250px;

}

.search-area {
    position: relative;
    margin: auto;

}

#search-results:after {
	clear:both;
	content:"";
	display:block;
}

.blurry {
	background-repeat: none;
	background-size: cover;
	-webkit-filter: brightness(80%) contrast(80%) blur(8px);
    -moz-filter: brightness(80%) contrast(80%) blur(8px);
    -ms-filter: brightness(80%) contrast(80%) blur(8px);
    -o-filter: brightness(80%) contrast(80%) blur(8px);
    filter: brightness(80%) contrast(80%) blur(8px);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
/*End grid cell configuration*/

/*Begin grid configuration*/
.grid {
	margin: 0 0 10px 0;
}

.col {
	width: 25%;
	float: left;
}

@media (max-width: 1628px) {
	.col {
		width: 33%;
	}
}
@media (max-width: 1300px) {
	.col {
  		width: 50%;
  	}
}
@media (max-width: 720px) {
 	.col {
  		width: 100%;
  	}
}
/*End grid configuration*/

button {
	vertical-align: top;
	height: 46px;
	padding: 0 18px;
	font-size: 12px;
	font-weight: bold;
	color: #527881;
	text-shadow: 0 1px #e3f1f1;
	background: #cde5ef;
	border: 1px solid;
	border-color: #b4ccce #b3c0c8 #9eb9c2;
    margin-bottom: -1px;
	outline: 0;
	@include box-sizing(content-box); // Firefox sets this to border-box by default
	@include linear-gradient(top, #edf5f8, #cde5ef);
	@include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

}
button:active {
	 background: #cde5ef;
	 border-color: #9eb9c2 #b3c0c8 #b4ccce;
 @include box-shadow(inset 0 0 3px rgba(black, .2));
 }

:-moz-placeholder {
	color: #c9c9c9 !important;
	font-size: 17px;
}

::-webkit-input-placeholder {
	color: #ccc;
	font-size: 17px;
}

input {
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-size: 19px;
}

input[type=text], input[type=password], input[type=date], input[type=search] {
	margin: 5px;
	padding: 0 10px;
	width: 280px;
	height: 34px;
	color: #404040;
	background: white;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
	-moz-outline-radius: 3px; // Can we get this on WebKit please?
@include box-shadow(inset 0 1px 3px rgba(black, .12));
}
input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=search]:focus {
	 border-color: #7dc9e2;
	 outline-color: #dceefc;
	 outline-offset: 0; // WebKit sets this to -1 by default
 }

.thumb {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid gray;
}

.main-menu {
    display: inline-flex;
    float: right;
}

.logo a{
    color: rgb(117, 117, 117);
    float: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 20px 15px;
}

.align-right a{
    box-sizing: border-box;
    color: rgb(117, 117, 117);
    float: right;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    font-size: 14px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 20px 15px;

}

.back-image{
    background-image: url("../img/background1.jpg");
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 99vw;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: inline-flex;

    /*
    background-size: 100vw 400px;
    color: rgba(0, 0, 0, 0.870588);
    line-height: 21px;
    z-index: auto;
    */
}

/*Begin Star rating*/
.rating_bar {
	position: relative;
	top: -250px;
	left: 315px;
    /*this class creats 5 stars bar with empty stars */
    /*each star is 16 px, it means 5 stars will make 80px together */
    width: 80px;
    /*height of empty star*/
    height: 16px;
    /*background image with stars */
    background: url(../img/stars.png);
    /*which will be repeated horizontally */
    background-repeat: repeat-x;
    /* as we are using sprite image, we need to position it to use right star, 
    //0 0 is for empty */
    background-position: 0 0;
    /* align inner div to the left */
    text-align: left;
}
.rating {
    /* height of full star is the same, we won't specify width here */
    height: 16px;
    /* background image with stars */
    background: url(../img/stars.png);
    /* now we will position background image to use 16px from top, 
    //which means use full stars */
    background-position: 0 -16px;
    /* and repeat them horizontally */
    background-repeat: repeat-x;
}
/*End Star rating*/

/* Bike Details*/
.bike-images{
    float: left;
    width: 48vw;
    min-height: 60vh;
}
.bike-details{
    float: right;
    width: 48vw;
    min-height: 60vh;
}

.bike-main{
    display: inline-block;
    width: 99vw;
}

.bike-borrow-date{
    line-height: 12px;
    height: 14px;
    font-size: 14px;
    width: 80px !important;
}

.bike-dates i {
    margin-left: 5px;
    margin-right: 15px;
}

.bike-contact-owner{
    margin-top: 15px;
}

.bike-images-current{
    width: 80%;
    height: 40vh;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 2px solid gray;
    margin: 30px auto;
    background-image: url("mocks/img/road_01.jpg");
     background-repeat: no-repeat;
    /* as we are using sprite image, we need to position it to use right star, 
    //0 0 is for empty */
    background-position: 0 0;
}

.bike-images-galery-thumb{
     width: 20%;
    height: 10vh;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 2px solid gray;
    margin: 5px;
    display:inline-block;
    margin: auto;
}

.bike-images-galery i {
    vertical-align: middle;
    margin-bottom: 10vh;
}

.bike-comments-rating{
    display:inline-block;
    margin: 30px;
}

.bike-comments-rating h4,
.bike-comments-rating i{
      text-align: left;
    margin: 0;

}

.bike-comment-individual{
   text-align: left;
   
}

.horizontal-line{
     border-top: 2px solid black;
     margin-bottom: 20px;
}
