<div class="back-image">
    <div class="search-area">
        <h1>Find a bicycle to borrow</h1>
        <!-- note input -->
        <section class="search-form">
            <input id="autocomplete" type="search" placeholder="Location"  ng-keypress="locationKeyPress($event)" required>
            <input type="text" id="startDate" ng-model="data.startDate" placeholder="Pickup Date" required>
            <input type="text" id="endDate" ng-model="data.endDate" placeholder="Dropoff Date" required>
            <button ng-click="search()">Search</button>

        </section>
    </div>
</div>
<!-- search results -->
<section id="search-results" class="grid">

</section>
