<div class="logo">

    <a href="#" class="align-left"><i class="fa fa-bicycle fa-2x"></i> rideMyBike</a>

</div>
<!-- document nav -->
<nav class="main-menu">
    <div class="align-right">

        <a ng-show="showUser">{{userName}}</a>

        <a ng-hide="showUser" ng-click='toggleModalLogin($event)'>Login</a>

        <a ng-hide="showUser" ng-click='toggleModalSignUp($event)'>Sign Up</a>

        <a href="#">How it Works</a>
    </div>
</nav>

<modal-dialog show='modalLoginShown' width='306px' height='220px'>
    <div id="login" ng-controller="login.ctrl" ng-include src="'assets/scripts/modules/auth/html/login.tmpl.html'" ></div>
</modal-dialog>

<modal-dialog show='modalSignUpShown' width='400px' height='550px'>
    <div id="signup" ng-controller="signup.ctrl" ng-include src="'assets/scripts/modules/user/html/signup.tmpl.html'" ></div>
</modal-dialog>